.JuegoMemorama.Facil {
    grid-template-columns: repeat(4, 1fr);
}
.JuegoMemorama.Medio {
    grid-template-columns: repeat(6, 1fr);
}
.JuegoMemorama.Dificil {
    grid-template-columns: repeat(10, 1fr);

}