
.cart1{
    background-image: url('../images/image1.jpg');
    background-size: cover;
    transform: rotateY(180deg);
}
.cart2{
 background-image: url('../images/image2.jpg');
 background-size: cover;
}
.cart3{
    background-image: url('../images/image3.jpg');
    background-size: cover;
}
.cart4{
 background-image: url('../images/image4.jpg');
    background-size: cover;
}
.cart5{
 background-image: url('../images/image5.jpg');
    background-size: cover;
}
.cart6{
 background-image: url('../images/image6.jpg');
    background-size: cover;
}
.cart7{
 background-image: url('../images/image7.jpg');
    background-size: cover;
}
.cart8{
 background-image: url('../images/image8.jpg');
    background-size: cover;
}
.cart9{
 background-image: url('../images/image9.jpg');
    background-size: cover;
}
.cart10{
 background-image: url('../images/image10.jpg');
    background-size: cover;
}
.cart11{
 background-image: url('../images/image11.jpg');
    background-size: cover;
}
.cart12{
 background-image: url('../images/image12.jpg');
    background-size: cover;
}
.cart13{
 background-image: url('../images/image13.jpg');
    background-size: cover;
}
.cart14{
 background-image: url('../images/image14.jpg');
    background-size: cover;
}
.cart15{
 background-image: url('../images/image15.jpg');
    background-size: cover;
}
.cart16{
 background-image: url('../images/image16.jpg');
    background-size: cover;
}
.cart17{
 background-image: url('../images/image17.jpg');
    background-size: cover;
}
.cart18{
 background-image: url('../images/image18.jpg');
    background-size: cover;
}
.cart19{
 background-image: url('../images/image19.jpg');
    background-size: cover;
}
.cart20{
 background-image: url('../images/image20.jpg');
    background-size: cover;
}
.cart21{
 background-image: url('../images/image21.jpg');
    background-size: cover;
}
.cart22{
 background-image: url('../images/image22.jpg');
    background-size: cover;
}
.cart23{
 background-image: url('../images/image23.jpg');
    background-size: cover;
}
.cart24{
 background-image: url('../images/image24.jpeg');
    background-size: cover;
}
.cart25{
 background-image: url('../images/image25.jpg');
    background-size: cover;
}
.cart26{
 background-image: url('../images/image26.jpg');
    background-size: cover;
}
.cart27{
 background-image: url('../images/image27.jpg');
    background-size: cover;
}
.cart28{
 background-image: url('../images/image28.jpg');
    background-size: cover;
}
.cart29{
 background-image: url('../images/image29.jpg');
    background-size: cover;
}
.cart30{
 background-image: url('../images/image30.jpg');
    background-size: cover;
}
.cart31{
 background-image: url('../images/image31.jpg');
    background-size: cover;
}
.cart32{
 background-image: url('../images/image32.jpg');
    background-size: cover;
}
.cart33{
 background-image: url('../images/image33.jpg');
    background-size: cover;
}
.cart34{
 background-image: url('../images/image34.jpg');
    background-size: cover;
}
.cart35{
 background-image: url('../images/image35.jpg');
    background-size: cover;
}
.cart36{
 background-image: url('../images/image36.jpg');
    background-size: cover;
}
.cart37{
 background-image: url('../images/image37.jpg');
    background-size: cover;
}
.cart38{
 background-image: url('../images/image38.jpg');
    background-size: cover;
}
.cart39{
 background-image: url('../images/image39.jpg');
    background-size: cover;
}
.cart40{
 background-image: url('../images/image40.jpg');
    background-size: cover;
}
.cart41{
 background-image: url('../images/image41.jpg');
    background-size: cover;
}
.cart42{
 background-image: url('../images/image42.jpg');
    background-size: cover;
}
.cart43{
 background-image: url('../images/image43.jpg');
    background-size: cover;
}
.cart44{
 background-image: url('../images/image44.jpg');
    background-size: cover;
}
.cart45{
 background-image: url('../images/image45.jpeg');
    background-size: cover; 
}
.cart46{
 background-image: url('../images/image46.jpg');
    background-size: cover;
}
.cart47{
 background-image: url('../images/image47.jpg');
    background-size: cover;
}
.cart48{
 background-image: url('../images/image48.jpg');
    background-size: cover;
}
.cart49{
 background-image: url('../images/image49.jpeg');
    background-size: cover;
}
.cart50{
 background-image: url('../images/image50.jpg');
    background-size: cover;
}