*{
    font-family: "Bodoni Moda", serif;
}
body{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.container{
    display: flex;
    justify-content: space-between;
}
.info{
    position: fixed;
    width: 70%;
    height: 70%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.884);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
h1{
    font-size: 75px;
    font-weight: 900 ;
}
.line{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#start-button{
    background-color: #0069b5;
    border: none;
    border-radius: 9px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    
}
h1, p, span{
    color: white;
    text-align: center;
}
p{
    font-size: 15px;
    padding-inline: 20px;
    margin-top: -15px;
}