body {
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #005a9c;
}

.ContenedorJuego {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.ColumnaIzquierda, .ColumnaDerecha {
    display: flex;
    flex-direction: column;
    align-items: center;
}